*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
/* @keyframes mov1{
    0%{top: 50px; left: 50px; height: 50px;}
    25%{top: 50px; left: 50px; height: 100px;}
    50%{top: 50px; left: 50px; height: 150px;}
    75%{top: 50px; left: 50px; height: 200px;}
    100%{top: 50px; left: 50px; height: 250px;}
}
@keyframes mov2{
    0%{top: 250px; left: 50px; width: 50px; visibility: hidden;}
    50%{top: 250px; left: 50px; width: 100px; visibility: visible;}
    100%{top: 250px; left: 50px; width: 150px;}
}
@keyframes mov3{
    0%{top: 250px; left: 150px; height: 50px; visibility: hidden;}
    25%{top: 200px; left: 150px; height: 100px; visibility: visible;}
    50%{top: 150px; left: 150px; height: 150px;}
    75%{top: 100px; left: 150px; height: 200px;}
    100%{top: 50px; left: 150px; height: 250px;}
}
@keyframes mov4{
    0%{top: 50px; left: 150px; width: 50px; visibility: hidden;}
    50%{top: 50px; left: 100px; width: 100px; visibility: visible;}
    100%{top: 50px; left: 50px; width: 150px;}
} */
@keyframes mov_h_1{
    0%{top: 50px; left: 50px; height: 50px;}
    25%{top: 50px; left: 50px; height: 100px;}
    50%{top: 50px; left: 50px; height: 150px;}
    75%{top: 50px; left: 50px; height: 200px;}
    100%{top: 50px; left: 50px; height: 250px;}
}
@keyframes mov_h_2{
    0%{top: 150px; left: 50px; width: 50px; visibility: hidden;}
    50%{top: 150px; left: 50px; width: 100px; visibility: visible;}
    100%{top: 150px; left: 50px; width: 150px;}
}
@keyframes mov_h_3{
    0%{top: 250px; left: 150px; height: 50px; visibility: hidden;}
    25%{top: 200px; left: 150px; height: 100px; visibility: visible;}
    50%{top: 150px; left: 150px; height: 150px;}
    75%{top: 100px; left: 150px; height: 200px;}
    100%{top: 50px; left: 150px; height: 250px;}
}
@keyframes mov_e_1{
    0%{top: 50px; left: 250px; height: 50px;visibility: hidden;}
    25%{top: 50px; left: 250px; height: 100px;visibility: visible;}
    50%{top: 50px; left: 250px; height: 150px;}
    75%{top: 50px; left: 250px; height: 200px;}
    100%{top: 50px; left: 250px; height: 250px;}
}
@keyframes mov_e_2{
    0%{top:  50px; left: 250px; width: 50px; visibility: hidden;}
    50%{top: 50px; left: 250px; width: 100px; visibility: visible;}
    100%{top: 50px; left: 250px; width: 150px;}
}
@keyframes mov_e_3{
    0%{top:  150px; left: 250px; width: 50px; visibility: hidden;}
    50%{top: 150px; left: 250px; width: 100px; visibility: visible;}
    100%{top: 150px; left: 250px; width: 150px;}
}
@keyframes mov_e_4{
    0%{top:  250px; left: 250px; width: 50px; visibility: hidden;}
    50%{top: 250px; left: 250px; width: 100px; visibility: visible;}
    100%{top: 250px; left: 250px; width: 150px;}
}
@keyframes mov_L_1{
    0%{top: 50px; left: 450px; height: 50px;visibility: hidden;}
    25%{top: 50px; left: 450px; height: 100px;visibility: visible;}
    50%{top: 50px; left: 450px; height: 150px;}
    75%{top: 50px; left: 450px; height: 200px;}
    100%{top: 50px; left: 450px; height: 250px;}
}
@keyframes mov_L_2{
    0%{top:  250px; left: 450px; width: 50px; visibility: hidden;}
    50%{top: 250px; left: 450px; width: 100px; visibility: visible;}
    100%{top: 250px; left: 450px; width: 150px;}
}
@keyframes mov_L_2_1{
    0%{top: 50px; left: 650px; height: 50px;visibility: hidden;}
    25%{top: 50px; left: 650px; height: 100px;visibility: visible;}
    50%{top: 50px; left: 650px; height: 150px;}
    75%{top: 50px; left: 650px; height: 200px;}
    100%{top: 50px; left: 650px; height: 250px;}
}
@keyframes mov_L_2_2{
    0%{top:  250px; left: 650px; width: 50px; visibility: hidden;}
    50%{top: 250px; left: 650px; width: 100px; visibility: visible;}
    100%{top: 250px; left: 650px; width: 150px;}
}
/* .animation_o_1{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov1;
    animation-duration: 1s;
    animation-timing-function: linear; 
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.animation_o_2{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov2;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
.animation_o_3{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov3;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
.animation_o_4{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov4;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
} */
.animation_h_1{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_h_1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
.animation_h_2{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_h_2;
    animation-duration: 0.5s;
    animation-delay: 1.7s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_h_3{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_h_3;
    animation-duration: 0.5s;
    animation-delay: 2.7s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_e_1{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_e_1;
    animation-duration: 0.5s;
    animation-delay: 3.3s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_e_2{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_e_2;
    animation-duration: 0.5s;
    animation-delay: 3.9s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_e_3{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_e_3;
    animation-duration: 0.5s;
    animation-delay: 4.4s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_e_4{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_e_4;
    animation-duration: 0.5s;
    animation-delay: 4.9s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_L_1{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_L_1;
    animation-duration: 0.5s;
    animation-delay: 5.7s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_L_2{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_L_2;
    animation-duration: 0.5s;
    animation-delay: 6.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_L_2_1{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_L_2_1;
    animation-duration: 0.5s;
    animation-delay: 6.9s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
.animation_L_2_2{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    position: absolute;
    animation-name: mov_L_2_2;
    animation-duration: 0.5s;
    animation-delay: 7.4s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}